@import url("/home/hirdyansh/.cache/wal/colors-waybar.css");

@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    font-family: 'Cascadia Code NF', monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow: none;
    background-color: transparent;
}

window {
    all: unset;
    padding: 20px;
    border-radius: 15px;
    background-color: alpha(@color0, 0.7); }

#inner-box {
    margin: 2px;
    padding: 5px;
    border: none;
}

#outer-box {
    border: 2px solid alpha(@color1, 1); 
    border-radius: 10px;   
}

#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}

#input {
    all: unset;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
    border: none;
    outline: none;
    color: @color7; 
    border-radius: 10px;
    background-color: alpha(@color0, 0.0); 
}

#input image {
    border: none;
    color: @color13; /* Bright color */
}

#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;
    border-radius: 10px;
}

#text {
    margin: 5px;
    border: none;
    color: @color5; /* Light color */
    outline: none;
}

#entry {
    border: none;
    margin: 5px;
    padding-left: 10px;
}

#entry arrow {
    border: none;
    color: @color15;
}

#entry:selected {
    box-shadow: 1px 1px 5px rgba(230, 230, 250, 0.3); /* Soft lavender glow */
    border: none;
    border-radius: 20px;
    background-color: transparent;
}

#entry:selected #text {
    color: @color2;
}

#entry:drop(active) {
    background-color: @color7;
}

